<section>
  <div class="container-fluid back-img">
    <div class="row">
      <div class="col-12 p-0">
        <div class="d-flex justify-content-center title-container">
          <h2 class="title">{{"terms.title" | translate}}</h2>
        </div>
      </div>
    </div>
  </div>

  <!-- Program Definition -->

  <div class="container description-container">
    <div class="row Program">
      <div class="col-12">
        <div class="d-flex title-containter">
          <span><img class="icon" src="../../../assets/img/Screenshot 2023-01-10 at 1.18.21 AM.png" alt="" /></span>
          <h2 class="title-of-descrption">{{"terms.title1" | translate}}</h2>
        </div>
        <div class="description m-0">
          <ul class="description-text-of-list">
            <li>
              {{"terms.desc1" | translate}}
            </li>
            <li>
              {{"terms.desc2" | translate}}
          
            </li>


            
          </ul>
        </div>

        <!-- Earning Points -->
        <div class="row">
          <div class="col-12">
            <div class="d-flex title-containter">
              <span><img class="icon" src="../../../assets/img/Screenshot 2023-01-10 at 1.18.21 AM.png" alt="" /></span>
              <h2 class="title-of-descrption">{{"terms.title2" | translate}}</h2>
            </div>
            <div class="description m-0">
              <ul class="description-text-of-list">
                <li>
                  {{"terms.desc3" | translate}}
                   
                  <a href="">{{"terms.desc4" | translate}} </a>
                </li>
                <li>
                  {{"terms.desc5" | translate}}
                 
                </li>
                <li>
                  {{"terms.desc6" | translate}}
                  
                </li>
                <li>
                  {{"terms.desc7" | translate}}
                 
                </li>
                <li>
                  {{"terms.desc8" | translate}}
                 
                </li>
                <li>
                  {{"terms.desc9" | translate}}
              
                </li>
                <li>
                  {{"terms.desc10" | translate}}
                  
                </li>
                <li>
                  {{"terms.desc11" | translate}}
                </li>
              </ul>
            </div>

            <!-- Points Expiry -->
            <div class="d-flex title-containter">
              <span><img class="icon" src="../../../assets/img/Screenshot 2023-01-10 at 1.18.21 AM.png" alt="" /></span>
              <h2 class="title-of-descrption">{{"terms.title3" | translate}}</h2>
            </div>
            <div class="description m-0">
              <ul class="description-text-of-list">
                <li>
                  {{"terms.desc12" | translate}}
                </li>
                <li>
                  {{"terms.desc13" | translate}}
                  
                </li>
              </ul>
            </div>
            <!-- Redemption Points -->
            <div class="d-flex title-containter">
              <span><img class="icon" src="../../../assets/img/Screenshot 2023-01-10 at 1.18.21 AM.png" alt="" /></span>
              <h2 class="title-of-descrption">{{"terms.title4" | translate}}</h2>
            </div>
            <div class="description m-0">
              <ul class="description-text-of-list">
                <li>
                  {{"terms.desc14" | translate}}
                  
                </li>
                <li>
                  {{"terms.desc15" | translate}}

                  
                </li>
                <li>
                  {{"terms.desc16" | translate}}

                  
                </li>
                <li>
                  {{"terms.desc17" | translate}}

                 
                </li>

                <li>
                  {{"terms.desc18" | translate}}

                 
                </li>
                <li>
                  {{"terms.desc19" | translate}}

                  
                </li>
                <li>
                  {{"terms.desc20" | translate}}

                 
                </li>
                <li>
                  {{"terms.desc21" | translate}}

                  
                </li>
                <li>
                  {{"terms.desc22" | translate}}

                  
                </li>
                <li>
                  {{"terms.desc23" | translate}}

                  
                </li>
                <li>
                  {{"terms.desc24" | translate}}

                 
                </li>
                <li>
                  {{"terms.desc25" | translate}}

                  
                </li>
              </ul>
            </div>
            <!-- General -->
            <div class="d-flex title-containter">
              <span><img class="icon" src="../../../assets/img/Screenshot 2023-01-10 at 1.18.21 AM.png" alt="" /></span>
              <h2 class="title-of-descrption">{{"terms.title5" | translate}} </h2>
            </div>
            <div class="description m-0">
              <ul class="description-text-of-list">
                <li>
                  {{"terms.desc26" | translate}}
                 
                </li>
                <li>
                  {{"terms.desc27" | translate}}
                 
                </li>
                <li>
                  {{"terms.desc28" | translate}}
                 
                </li>
              


              </ul>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</section>