<section>
  <div class="container-fluid">
    <div class="row">
      <div class="col-12 p-0 img-container">
        <h2 class="title">Enjoy Shopping <br />& Gain Points</h2>
      </div>
    </div>
  </div>
  <div class="container description-container">
    <div class="row">
      <div class="col-12">
        <div class="d-flex title-containter">
          <span><img class="icon" [class.dir]="dir == true"
              src="../../../assets/img/Screenshot 2023-01-10 at 1.18.21 AM.png" alt="" /></span>
          <h2 class="title-of-descrption">
            {{"aboutProgramm.title1" | translate}}
          </h2>
        </div>

        <div class="description">
          <p class="description-text">
            {{"aboutProgramm.desc1" | translate}}

          </p>
        </div>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="row row-cols-xl-3 row-cols-lg-2 row-cols-md-1 row-cols-sm-1 card-visa">
      <div class="col-auto">
        <div class="card">
          <div class="">
            <h2 class="title-card">
              <span><img class="icon" [class.dir]="dir == true"
                  src="../../../assets/img/Screenshot 2023-01-10 at 1.18.21 AM.png" alt="" /></span>
                  {{"aboutProgramm.title2" | translate}}

                
            </h2>
          </div>
          <div>
            <p class="card-text">
              {{"aboutProgramm.card1" | translate}} <span class="card-span">{{"aboutProgramm.card11" | translate}}</span>
            </p>
          </div>
        </div>
      </div>
      <div class="col-auto">
        <div class="card">
          <div class="">
            <h2 class="title-card">
              <span><img class="icon" [class.dir]="dir == true"
                  src="../../../assets/img/Screenshot 2023-01-10 at 1.18.21 AM.png" alt="" /></span>
                  {{"aboutProgramm.title2" | translate}}
            </h2>
          </div>
          <div>
            <p class="card-text">
              {{"aboutProgramm.card1" | translate}} <span class="card-span">{{"aboutProgramm.card11" | translate}}</span>
            </p>
          </div>
        </div>
      </div>
      <div class="col-auto">
        <div class="card">
          <div class="">
            <h2 class="title-card">
              <span><img class="icon" [class.dir]="dir == true"
                  src="../../../assets/img/Screenshot 2023-01-10 at 1.18.21 AM.png" alt="" /></span>{{"aboutProgramm.title2" | translate}}
            </h2>
          </div>
          <div>
            <p class="card-text">
              {{"aboutProgramm.card1" | translate}} <span class="card-span">{{"aboutProgramm.card11" | translate}}</span>
            </p>
          </div>
        </div>
      </div>
      <div class="col-auto">
        <div class="card">
          <div class="">
            <h2 class="title-card">
              <span><img class="icon" [class.dir]="dir == true"
                  src="../../../assets/img/Screenshot 2023-01-10 at 1.18.21 AM.png" alt="" /></span>
                  {{"aboutProgramm.title2" | translate}}
            </h2>
          </div>
          <div>
            <p class="card-text">
              {{"aboutProgramm.card1" | translate}} <span class="card-span">{{"aboutProgramm.card11" | translate}}</span>
            </p>
          </div>
        </div>
      </div>
      <div class="col-auto">
        <div class="card">
          <div class="">
            <h2 class="title-card">
              <span><img class="icon" [class.dir]="dir == true"
                  src="../../../assets/img/Screenshot 2023-01-10 at 1.18.21 AM.png" alt="" /></span>{{"aboutProgramm.title2" | translate}}
    
            </h2>
          </div>
          <div>
            <p class="card-text">
              {{"aboutProgramm.card1" | translate}} <span class="card-span">{{"aboutProgramm.card11" | translate}}</span>
            </p>
          </div>
        </div>
      </div>
      <div class="col-auto">
        <div class="card">
          <div class="">
            <h2 class="title-card">
              <span><img class="icon" [class.dir]="dir == true"
                  src="../../../assets/img/Screenshot 2023-01-10 at 1.18.21 AM.png" alt="" /></span>
                  {{"aboutProgramm.title2" | translate}}
            </h2>
          </div>
          <div>
            <p class="card-text">
              {{"aboutProgramm.card1" | translate}} <span class="card-span">{{"aboutProgramm.card11" | translate}}</span>
            </p>
          </div>
        </div>
      </div>
      <div class="col-auto">
        <div class="card">
          <div class="">
            <h2 class="title-card">
              <span><img class="icon" [class.dir]="dir == true"
                  src="../../../assets/img/Screenshot 2023-01-10 at 1.18.21 AM.png" alt="" /></span>
                  {{"aboutProgramm.title2" | translate}}
            </h2>
          </div>
          <div>
            <p class="card-text">
              {{"aboutProgramm.card1" | translate}} <span class="card-span">{{"aboutProgramm.card11" | translate}}</span>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="container description-container">
    <div class="row">
      <div class="col-12">
        <div class="d-flex title-containter">
          <span><img class="icon" [class.dir]="dir == true"
              src="../../../assets/img/Screenshot 2023-01-10 at 1.18.21 AM.png" alt="" /></span>
          <h2 class="title-of-descrption">{{"aboutProgramm.title3" | translate}}</h2>
        </div>
        <div class="description px-2 m-0">
          <ul class="description-text-of-list">
            <p class="">{{"aboutProgramm.title4" | translate}}</p>
            <li>{{"aboutProgramm.list1" | translate}}</li>
            <li>{{"aboutProgramm.list2" | translate}}</li>
            <li>{{"aboutProgramm.list3" | translate}}</li>
            <li>{{"aboutProgramm.list4" | translate}}</li>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <div class="container description-Redemption">
    <div class="row">
      <div class="col-12">
        <div class="d-flex title-Redemption">
          <span><img class="icon" [class.dir]="dir == true"
              src="../../../assets/img/Screenshot 2023-01-10 at 1.18.21 AM.png" alt="" /></span>
          <h2 class="title-of-Redemption">{{"aboutProgramm.title5" | translate}}</h2>
        </div>
        <div class="Redemption-description px-2 m-0">
          <ul class="Redemption-text-of-list">
            <li>
              {{"aboutProgramm.list51" | translate}}
            </li>
            <li>
              {{"aboutProgramm.list52" | translate}}
            </li>
            <li>
              {{"aboutProgramm.list53" | translate}}
            </li>
            <li class="list-unstyled">
              <div class="flex-descrption">
                <ul class="list-group list-group-horizontal-sm">
                  <li class="list-group-item group-title">{{"aboutProgramm.point" | translate}}</li>
                  <li class="list-group-item light">10,000 {{"aboutProgramm.poin" | translate}}</li>
                  <li class="list-group-item dark">20,000 {{"aboutProgramm.poin" | translate}}</li>
                  <li class="list-group-item light">30,000 {{"aboutProgramm.poin" | translate}}</li>
                  <li class="list-group-item dark">40,000 {{"aboutProgramm.poin" | translate}}</li>
                  <li class="list-group-item light">50,000 {{"aboutProgramm.poin" | translate}}</li>
                  <li class="list-group-item dark">500,000 {{"aboutProgramm.poin" | translate}}</li>
                </ul>
                <ul class="list-group list-group-horizontal-sm">
                  <li class="list-group-item group-title box-size">
                    {{"aboutProgramm.E-voucher" | translate}} <br />
                    {{"aboutProgramm.Value" | translate}}
                  </li>
                  <li class="list-group-item light">10,000 {{"aboutProgramm.poin" | translate}}</li>
                  <li class="list-group-item dark">20,000 {{"aboutProgramm.poin" | translate}}</li>
                  <li class="list-group-item light">30,000 {{"aboutProgramm.poin" | translate}}</li>
                  <li class="list-group-item dark">40,000 {{"aboutProgramm.poin" | translate}}</li>
                  <li class="list-group-item light">50,000 {{"aboutProgramm.poin" | translate}}</li>
                  <li class="list-group-item dark">500,000 {{"aboutProgramm.poin" | translate}}</li>
                </ul>
              </div>
            </li>
            <li>
             {{"aboutProgramm.descc" |translate}}
            </li>
          </ul>
        </div>
        <div class="text-center Terms-continer">
          <a href="" class="Terms">{{"aboutProgramm.TermsApply" | translate}}</a>
        </div>
      </div>
    </div>
  </div>
</section>