<section>
  <div class="container-fluid back-img">
    <div class="row">
      <div class="col-12 p-0">
        <div>
          <p class="titles">
            Partners List > <span class="branchs">Ravin</span>
          </p>
        </div>
        <div class="img-container">
          <img
            class="img-style"
            src="../../../assets/img/image 66.svg"
            alt=""
            srcset=""
          />
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-12">
        <h2 class="title">
          <span
            ><img
              class="icon"
              src="../../../assets/img/Screenshot 2023-01-10 at 1.18.21 AM.png"
              alt=""
          /></span>
          About Ravin
        </h2>
        <div class="description">
          <p class="description-text">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Odit fuga
            tempore eius possimus temporibus dolores nesciunt, laboriosam totam
            dolore quae iste optio recusandae quasi nisi tempora adipisci quia
            earum? Iste! Lorem ipsum dolor sit amet consectetur adipisicing
            elit. Odit fuga tempore eius possimus temporibus dolores nesciunt,
            laboriosam totam dolore quae iste optio recusandae quasi nisi
            tempora adipisci quia earum? Iste! Lorem ipsum dolor sit amet
            consectetur adipisicing elit. Odit fuga tempore eius possimus
            temporibus dolores nesciunt, laboriosam totam dolore quae iste optio
            recusandae quasi nisi tempora adipisci quia earum? Iste! Lorem ipsum
            dolor sit amet consectetur adipisicing elit. Odit fuga tempore eius
            possimus temporibus dolores nesciunt, laboriosam totam dolore quae
            iste optio recusandae quasi nisi tempora adipisci quia earum? Iste!
          </p>
        </div>

        <div>
          <h2 class="title">
            <span
              ><img
                class="icon"
                src="../../../assets/img/Screenshot 2023-01-10 at 1.18.21 AM.png"
                alt=""
            /></span>
            Branches
          </h2>
          <div>
            <div class="accordion" id="accordionExample">
              <div class="accordion-item">
                <h2 class="accordion-header" id="headingOne">
                  <button
                    class="accordion-button"
                    type="button"
                    data-bs-toggle="collapse"
                    data-bs-target="#collapseOne"
                    aria-expanded="true"
                    aria-controls="collapseOne"
                  >
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      width="22"
                      height="22"
                      fill="currentColor"
                      class="bi bi-geo-alt"
                      viewBox="0 0 16 16"
                    >
                      <path
                        d="M12.166 8.94c-.524 1.062-1.234 2.12-1.96 3.07A31.493 31.493 0 0 1 8 14.58a31.481 31.481 0 0 1-2.206-2.57c-.726-.95-1.436-2.008-1.96-3.07C3.304 7.867 3 6.862 3 6a5 5 0 0 1 10 0c0 .862-.305 1.867-.834 2.94zM8 16s6-5.686 6-10A6 6 0 0 0 2 6c0 4.314 6 10 6 10z"
                      />
                      <path
                        d="M8 8a2 2 0 1 1 0-4 2 2 0 0 1 0 4zm0 1a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"
                      />
                    </svg>
                    New Cairo
                  </button>
                </h2>
                <div
                  id="collapseOne"
                  class="accordion-collapse collapse show"
                  aria-labelledby="headingOne"
                  data-bs-parent="#accordionExample"
                >
                  <div class="accordion-body d-flex justify-content-between">
                    <div class="d-flex">
                      <div class="d-flex">
                        <div class="side-border"></div>
                        <div>
                          <p class="address">Street 33</p>
                          <p class="address">District 1</p>
                          <p class="address">Fifth Settlement, New Cairo</p>
                        </div>
                      </div>
                    </div>

                    <div>
                      <div class="button-active">
                        <p class="button-text">
                          <span
                            ><img
                              src="../../../assets/img/Group 17769.svg"
                              alt=""
                              class="img-style"
                              srcset=""
                          /></span>
                          Get Directions
                        </p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="accordion-item">
                <h2 class="accordion-header" id="headingTwo">
                  <button
                    class="accordion-button collapsed"
                    type="button"
                    data-bs-toggle="collapse"
                    data-bs-target="#collapseTwo"
                    aria-expanded="false"
                    aria-controls="collapseTwo"
                  >
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      width="22"
                      height="22"
                      fill="currentColor"
                      class="bi bi-geo-alt"
                      viewBox="0 0 16 16"
                    >
                      <path
                        d="M12.166 8.94c-.524 1.062-1.234 2.12-1.96 3.07A31.493 31.493 0 0 1 8 14.58a31.481 31.481 0 0 1-2.206-2.57c-.726-.95-1.436-2.008-1.96-3.07C3.304 7.867 3 6.862 3 6a5 5 0 0 1 10 0c0 .862-.305 1.867-.834 2.94zM8 16s6-5.686 6-10A6 6 0 0 0 2 6c0 4.314 6 10 6 10z"
                      />
                      <path
                        d="M8 8a2 2 0 1 1 0-4 2 2 0 0 1 0 4zm0 1a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"
                      />
                    </svg>
                    Giza
                  </button>
                </h2>
                <div
                  id="collapseTwo"
                  class="accordion-collapse collapse"
                  aria-labelledby="headingTwo"
                  data-bs-parent="#accordionExample"
                >
                  <div class="accordion-body">
                    <div class="accordion-body d-flex justify-content-between">
                      <div class="d-flex">
                        <div class="d-flex">
                          <div class="side-border"></div>
                          <div>
                            <p class="address">Street 33</p>
                            <p class="address">District 1</p>
                            <p class="address">Fifth Settlement, New Cairo</p>
                          </div>
                        </div>
                      </div>
  
                      <div>
                        <div class="button-active">
                          <p class="button-text">
                            <span
                              ><img
                                src="../../../assets/img/Group 17769.svg"
                                alt=""
                                class="img-style"
                                srcset=""
                            /></span>
                            Get Directions
                          </p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="accordion-item">
                <h2 class="accordion-header" id="headingThree">
                  <button
                    class="accordion-button collapsed"
                    type="button"
                    data-bs-toggle="collapse"
                    data-bs-target="#collapseThree"
                    aria-expanded="false"
                    aria-controls="collapseThree"
                  >
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      width="22"
                      height="22"
                      fill="currentColor"
                      class="bi bi-geo-alt"
                      viewBox="0 0 16 16"
                    >
                      <path
                        d="M12.166 8.94c-.524 1.062-1.234 2.12-1.96 3.07A31.493 31.493 0 0 1 8 14.58a31.481 31.481 0 0 1-2.206-2.57c-.726-.95-1.436-2.008-1.96-3.07C3.304 7.867 3 6.862 3 6a5 5 0 0 1 10 0c0 .862-.305 1.867-.834 2.94zM8 16s6-5.686 6-10A6 6 0 0 0 2 6c0 4.314 6 10 6 10z"
                      />
                      <path
                        d="M8 8a2 2 0 1 1 0-4 2 2 0 0 1 0 4zm0 1a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"
                      />
                    </svg>
                    6 October
                  </button>
                </h2>
                <div
                  id="collapseThree"
                  class="accordion-collapse collapse"
                  aria-labelledby="headingThree"
                  data-bs-parent="#accordionExample"
                >
                <div class="accordion-body d-flex justify-content-between">
                  <div class="d-flex">
                    <div class="d-flex">
                      <div class="side-border"></div>
                      <div>
                        <p class="address">Street 33</p>
                        <p class="address">District 1</p>
                        <p class="address">Fifth Settlement, New Cairo</p>
                      </div>
                    </div>
                  </div>

                  <div>
                    <div class="button-active">
                      <p class="button-text">
                        <span
                          ><img
                            src="../../../assets/img/Group 17769.svg"
                            alt=""
                            class="img-style"
                            srcset=""
                        /></span>
                        Get Directions
                      </p>
                    </div>
                  </div>
                </div>
                </div>
              </div>
              <div class="accordion-item">
                <h2 class="accordion-header" id="headingfour">
                  <button
                    class="accordion-button collapsed"
                    type="button"
                    data-bs-toggle="collapse"
                    data-bs-target="#collapsefour"
                    aria-expanded="false"
                    aria-controls="collapsefour"
                  >
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      width="22"
                      height="22"
                      fill="currentColor"
                      class="bi bi-geo-alt"
                      viewBox="0 0 16 16"
                    >
                      <path
                        d="M12.166 8.94c-.524 1.062-1.234 2.12-1.96 3.07A31.493 31.493 0 0 1 8 14.58a31.481 31.481 0 0 1-2.206-2.57c-.726-.95-1.436-2.008-1.96-3.07C3.304 7.867 3 6.862 3 6a5 5 0 0 1 10 0c0 .862-.305 1.867-.834 2.94zM8 16s6-5.686 6-10A6 6 0 0 0 2 6c0 4.314 6 10 6 10z"
                      />
                      <path
                        d="M8 8a2 2 0 1 1 0-4 2 2 0 0 1 0 4zm0 1a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"
                      />
                    </svg>
                    Maadi
                  </button>
                </h2>
                <div
                  id="collapsefour"
                  class="accordion-collapse collapse"
                  aria-labelledby="headingfour"
                  data-bs-parent="#accordionExample"
                >
                <div class="accordion-body d-flex justify-content-between">
                  <div class="d-flex">
                    <div class="d-flex">
                      <div class="side-border"></div>
                      <div>
                        <p class="address">Street 33</p>
                        <p class="address">District 1</p>
                        <p class="address">Fifth Settlement, New Cairo</p>
                      </div>
                    </div>
                  </div>

                  <div>
                    <div class="button-active">
                      <p class="button-text">
                        <span
                          ><img
                            src="../../../assets/img/Group 17769.svg"
                            alt=""
                            class="img-style"
                            srcset=""
                        /></span>
                        Get Directions
                      </p>
                    </div>
                  </div>
                </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container How-e-voucher-works">
    <div class="row">
      <div class="col-12">
        <h2 class="title">
          <span
            ><img
              class="icon"
              src="../../../assets/img/Screenshot 2023-01-10 at 1.18.21 AM.png"
              alt=""
          /></span>
          How e-voucher works?
        </h2>
      </div>
    </div>
    <div class="container How-e-voucher-works-slider">
      <div class="row">
        <div class="col-12">
          <div class="my-5 slider-container" style="width: 100%">
            <swiper
              [slidesPerView]="6"
              [spaceBetween]="0"
              [navigation]="true"
              [scrollbar]="{ draggable: true }"
              [breakpoints]="{
                '1400': {
                  slidesPerView: 5,
                  spaceBetween: 0,
                  slidesPerGroup: 1
                },
                '1200': {
                  slidesPerView: 6,
                  spaceBetween: 0,
                  slidesPerGroup: 1
                },

                '992': {
                  slidesPerView: 4,
                  spaceBetween: 0,
                  slidesPerGroup: 1
                },
                '768': {
                  slidesPerView: 2,
                  spaceBetween: 0,
                  slidesPerGroup: 1
                },

                '576': {
                  slidesPerView: 1,
                  spaceBetween: 0,
                  slidesPerGroup: 1
                },

                '0': {
                  slidesPerView: 1,
                  spaceBetween: 0,
                  slidesPerGroup: 1
                }
              }"
            >
              <ng-template swiperSlide>
                <div class=" ">
                  <div
                    class="d-flex justify-content-center justify-content-center"
                  >
                    <img
                      src="../../../assets/img/Group 17808.svg"
                      alt=""
                      srcset=""
                      class="first-img"
                    />
                    <img
                      src="../../../assets/img/Line 1.svg"
                      alt=""
                      srcset=""
                      class="img-line"
                    />
                  </div>

                  <div>
                    <p class="img-text">
                      Lorem ipsum dolor sit amet consectetur
                    </p>
                  </div>
                </div>
              </ng-template>
              <ng-template swiperSlide>
                <div class=" ">
                  <div class="d-flex justify-content-center">
                    <img
                      src="../../../assets/img/Group 17807.svg"
                      alt=""
                      srcset=""
                      class="img-style"
                    />
                    <img
                      src="../../../assets/img/Line 1.svg"
                      alt=""
                      srcset=""
                      class="img-line"
                    />
                  </div>

                  <div>
                    <p class="img-text">
                      Lorem ipsum dolor sit amet consectetur
                    </p>
                  </div>
                </div>
              </ng-template>
              <ng-template swiperSlide>
                <div class=" ">
                  <div class="d-flex justify-content-center">
                    <img
                      src="../../../assets/img/Group 17806.svg"
                      alt=""
                      srcset=""
                      class="img-style"
                    />
                    <img
                      src="../../../assets/img/Line 1.svg"
                      alt=""
                      srcset=""
                      class="img-line"
                    />
                  </div>

                  <div>
                    <p class="img-text">
                      Lorem ipsum dolor sit amet consectetur
                    </p>
                  </div>
                </div>
              </ng-template>
              <ng-template swiperSlide>
                <div class=" ">
                  <div class="d-flex justify-content-center">
                    <img
                      src="../../../assets/img/Group 17805.svg"
                      alt=""
                      srcset=""
                      class="img-style"
                    />
                    <img
                      src="../../../assets/img/Line 1.svg"
                      alt=""
                      srcset=""
                      class="img-line"
                    />
                  </div>

                  <div>
                    <p class="img-text">
                      Lorem ipsum dolor sit amet consectetur
                    </p>
                  </div>
                </div>
              </ng-template>
              <ng-template swiperSlide>
                <div class=" ">
                  <div class="d-flex justify-content-center">
                    <img
                      src="../../../assets/img/Group 17804.svg"
                      alt=""
                      srcset=""
                      class="list-img"
                    />
                  </div>

                  <div>
                    <p class="img-text">
                      Lorem ipsum dolor sit amet consectetur
                    </p>
                  </div>
                </div>
              </ng-template>
            </swiper>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="container More-Partners">
    <div class="row">
      <div class="col-12">
        <h2 class="title">
          <span
            ><img
              class="icon"
              src="../../../assets/img/Screenshot 2023-01-10 at 1.18.21 AM.png"
              alt=""
          /></span>
          More Partners
        </h2>
      </div>

      <div class="row row-cols-lg-4 row-cols-md-2 row-cols-sm-2">
        <div class="col-auto">
          <div class="card">
            <div class="img-container">
              <img src="../../../assets/img/image 66.svg" alt="" />
            </div>
            <p class="partners-card-title">Ravin</p>
          </div>
        </div>

        <div class="col-auto">
          <div class="card">
            <div class="img-container">
              <img src="../../../assets/img/image 66.svg" alt="" />
            </div>
            <p class="partners-card-title">Ravin</p>
          </div>
        </div>
        <div class="col-auto">
          <div class="card">
            <div class="img-container">
              <img src="../../../assets/img/image 66.svg" alt="" />
            </div>
            <p class="partners-card-title">Ravin</p>
          </div>
        </div>
        <div class="col-auto">
          <div class="card">
            <div class="img-container">
              <img src="../../../assets/img/image 66.svg" alt="" />
            </div>
            <p class="partners-card-title">Ravin</p>
          </div>
        </div>

        <div class="col-auto">
          <div class="card">
            <div class="img-container">
              <img src="../../../assets/img/image 66.svg" alt="" />
            </div>
            <p class="partners-card-title">Ravin</p>
          </div>
        </div>
        <div class="col-auto">
          <div class="card">
            <div class="img-container">
              <img src="../../../assets/img/image 66.svg" alt="" />
            </div>
            <p class="partners-card-title">Ravin</p>
          </div>
        </div>
        <div class="col-auto">
          <div class="card">
            <div class="img-container">
              <img src="../../../assets/img/image 66.svg" alt="" />
            </div>
            <p class="partners-card-title">Ravin</p>
          </div>
        </div>
        <div class="col-auto">
          <div class="card">
            <div class="img-container">
              <img src="../../../assets/img/image 66.svg" alt="" />
            </div>
            <p class="partners-card-title">Ravin</p>
          </div>
        </div>

        <div class="col-auto">
          <div class="card">
            <div class="img-container">
              <img src="../../../assets/img/image 66.svg" alt="" />
            </div>
            <p class="partners-card-title">Ravin</p>
          </div>
        </div>
        <div class="col-auto">
          <div class="card">
            <div class="img-container">
              <img src="../../../assets/img/image 66.svg" alt="" />
            </div>
            <p class="partners-card-title">Ravin</p>
          </div>
        </div>
        <div class="col-auto">
          <div class="card">
            <div class="img-container">
              <img src="../../../assets/img/image 66.svg" alt="" />
            </div>
            <p class="partners-card-title">Ravin</p>
          </div>
        </div>
        <div class="col-auto">
          <div class="card">
            <div class="img-container">
              <img src="../../../assets/img/image 66.svg" alt="" />
            </div>
            <p class="partners-card-title">Ravin</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
